@import "tailwindcss";
@plugin "daisyui";

.swiper-button-prev, .swiper-button-next {    
    color: #f5c619 !important;    
}

.swiper-pagination-bullet {
    background-color: #f5c619 !important;
}

body{
    background-color: #0b141c !important;
}